.brand{
    font-family: 'Helvetica';
    color: #00BFA6;
    font-size: 30px;
    font-weight: bold;  
}
.add-todo-box-container{
    position: sticky;
    top: 30px;
    z-index: 1;
}
.menu{
    font-family: 'Helvetica';
    font-size: 16px;
    cursor: pointer;
    list-style: none;
}
.list {
    list-style: none;
    font-size: 16px;
    font-family: 'Helvetica';
    cursor: pointer;
}




